# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Code coverage profiles
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Env file
.env

# Logs and CTI telemetry
*.log
*.jsonl

# Build and dist artifacts
build/
dist/
